{{!--  body of site partial, work in progress --}}
<body>
    <div class="flex-row justify-space-around">
        <header class="display-flex justify-space=between align-left">
            <h1>
                <div class="form-group">
                    <button class="btn btn-primary" type="home" align="float-left">BILLionare</button>
                </div>
            </h1>
            {{!-- {{#if logged-in}} --}}
            <nav>
                <button class="btn" id="logout">Logout</button>
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            {{!-- escape to js for sidenave bar --}}
            {{sidenav}}
        </main>
    </div>
</body>