{{!--  body of site partial, work in progress --}}
        <header class="display-flex justify-space=between align-left">
            <h1>
                <div class="form-group">
                    <button class="btn btn-primary" type="home" align="float-left">BILLionare</button>
                </div>
            </h1>
            {{!-- {{#if logged-in}} --}}
            <nav>
                <button class="btn" id="logout">Logout</button>
            </nav>
        </header>


        <main class="container container-fluid mt-5">
        
        </main>
        <footer class="center">
            Online Invoicing by The Billy Club®
        </footer>
    </div>
</body>