{{!-- handlebars template  --}}

<!DOCTYPE html>
<html lang="en">

{{>head}}

<body class="container" img="vintage.jpg">
    {{> header}}
    {{{ body }}}
</body>

</html> 
        <footer align="center">
            <img class="staticSymbol" src="{{C:/Users/dalsa/OneDrive/Pictures/vintage.JPEG}}" alt="">
            Online Invoicing by The Billy Club®
        </footer>