
<form action="/action_page.php" id="test" class="newCustomerForm">
    <label for="company_name">Company Name:</label>
    <input id="company_name"/>
    <label for="company_address">Address:</label>
    <input id="company_address"/>
    <label for="company_phone_number">Phone Number:</label>
    <input id="company_phone_number"/>
    <label for="first_name">First Name:</label>
    <input id="first_name"/>
    <label for="last_name">Last Name:</label>
    <input id="last_name"/>
    <label for="company_email">Email Address:</label>
    <input id="company_email"/>
  
  <input type="submit" id="submitNewCustomer">
</form>

    {{!-- <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign-Up</button>
    </div> --}}


<script src="/js/newCustomer.js"></script>