//Form 
<form action="/action_page.php" class="newCustomerForm">
  <label for="cars"></label>
  <select id="cars" name="cars">
    <input value="company_name"></input>
    <input value="company_address"></input>
    <input value="company_phone_number"></input>
    <input value="first_name"></input>
    <input value="last_name"></input>
    <input value="email"></input>
  </select>
  <input type="submit">
</form>



//Link js file
<script type="text/javascript" src="/js/newCustmer.js"></script>