<body>
    <div class="flex-row justify-space-around" id="pic">

        <main class="container container-fluid mt-5">
        
        </main>
        {{!-- <footer class="center">
            Online Invoicing by The Billy Club®
        </footer> --}}
    </div>
</body>