{{!-- form for user to sign up using email and user set password --}}
<div>
    <form action="signup.html" method="post" id="signup">
	<h1>Sign-Up</h1>
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" placeholder="Enter your email address"/>
	</div>
		<div class="field">
		<label for="email">Password:</label>
		<input type="text" id="email" name="email" placeholder="Set a Password"/>
	</div>
	<button type="submit">Sign-Up</button>
</form>
</div>

<div class="">
  
</div>
