{{!-- this is where the dev will generate the invoice --}}
<div>
<form 

</div>

{{!-- need: company name, ticket id (uuidv4), job type w/ options (front back maint full), email for comapny, dev first/last name, job tier (1,2,3), hourly rate, and hours worked (input) --}}
{{!-- possibly add comment box --}}