
{{!-- this is where the dev will generate the invoice --}}

<div class="">

</div>

{{!-- this is where the dev will generate the invoice --}}
<h1 class="center">BILLionaires</h1>
<h2></h2>
<div class="">
{{!-- add the info from the db --}}
</div>

