{{!-- this will be the side nave bar function --}}
<ul class="sidenav" id="mobile-links">
    {{!-- this will navigate to a page listing the clients save to the user --}}
<li><a href="#clients">Clients</a></li>
{{!-- this will navigate to the history of invoices sent --}}
<li><a href="#history">History</a></li>
{{!-- this will navigate to a page with conact details for the developers of the BILLionares page (The Boys) --}}
<li><a href="#contact">Contact</a></li>
</ul>

<script>$(document).ready(function () { $('.sidenav').sidenav(); })</script>